.todo__list{
    display: flex;
    flex-direction: row;
    align-items: center;;
    
    border-radius:5rem;
    width:50%;
    text-align: center;
    
}
.list{
    
    
    
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;;
    
}
.button{
    margin-left: 5rem;
    background-color: purple;
}
.modal{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.update{
    background-color: black;
    padding:3rem 3rem;
    margin: auto;
}